.active {
	background-color: #DFBDDB;
}
select {
	font-size: 20px;
}
.selectRoom {
width: 200%;
margin-left: 2%;
padding-right: 100%;
}
input {
padding: 2%;
}
#filter {
width: 40%;
margin-left: 20%;
margin-top: 10%;
padding: 2%;
}
.add2 {
margin-left: 45%;
margin-right: 45%;
margin-top: 5%;
padding-left: 80%;
padding-right: 10%;
padding: 3%;
width: 70%;
}
.add {
margin-left: 45%;
margin-right: 45%;
margin-top: 4%;
padding: 0.5%;
width: 20%;
}
.tableAdd{
padding-left: 20%;
padding-top: 20%;
padding: 5%;
width: 60%;
}
.tableAdd2{
	margin-left: 15%;
	padding: 5%;
	width: 70%;
}
#tableAdd {
	width:45%;
}
.selectHotel {
	font-size: 20px;
	width:150%;
	margin-top: 5%;
	margin-bottom: 5%;
}
.right {
padding: 0;
vertical-align: top;
display: block;
padding-top: 10%;
}
.left {
margin: 0;
padding: 0;
float: left;
width: 50%;
vertical-align: top;
display: block;
}
* {
padding: 0; margin: 0;
}
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
height: 100%;
background-color: #AAE3F1;
background-image: url('https://us.123rf.com/450wm/imaginarybo/imaginarybo1608/imaginarybo160800003/62107258-seamless-daisy-flower-pattern-on-white-background-frizzy-ornate-stem-leaves-.jpg?ver=6');
vertical-align: top;
display: block;
padding-bottom: 5%;
}
#header {
background-color: #F3D3CD;
padding-top: 1%;
margin-bottom: -8%;
}
#menu {
float:left; margin-left: 15%; margin-top: -2%;
}
#welcome {
margin-bottom: 10%;
}
#image {
width:3%;
height:3%;
padding-top: 1.5em;
padding-left: 1em;
}
*{
    margin:0;
    padding:0;
}
button, select {
	font:15px/1.3 'Open Sans', sans-serif;
}
body{
    font:15px/1.3 'Open Sans', sans-serif;
    color: #5e5b64;
    text-align:center;
}

a, a:visited {
    outline:none;
    color:#389dc1;
}

a:hover{
    text-decoration:none;
}

section, footer, header, aside, nav{
    display: block;
}

nav{
    display:inline-block;
    margin:60px auto 45px;
    background-color:#5597b4;
    box-shadow:0 1px 1px #ccc;
    border-radius:2px;
}

nav a{
    display:inline-block;
    padding: 18px 30px;
    color:#fff !important;
    font-weight:bold;
    font-size:16px;
    text-decoration:none !important;
    line-height:1;
    text-transform: uppercase;
    background-color:transparent;

    -webkit-transition:background-color 0.25s;
    -moz-transition:background-color 0.25s;
    transition:background-color 0.25s;
}

nav a:first-child{
    border-radius:2px 0 0 2px;
}

nav a:last-child{
    border-radius:0 2px 2px 0;
}

p{
    font-size:22px;
    font-weight:bold;
}

p b{
    color:#ffffff;
    display:inline-block;
    padding:5px 10px;
    background-color:#c4d7e0;
    border-radius:2px;
    text-transform:uppercase;
    font-size:18px;
}
.resource {
  margin: 20px 0;
}